.Container-savingdash{
    margin-top: 30px;
    background-color: white;
    width: 150vh;
    border-radius: 50px;
    padding-bottom: 40px;
}

.container-graphic-and-categories{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
}

.tittle-and-scrollcategories{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tittle-categories-scroll{
    font-size: 20px;
}

.container-text-and-buttontoadd{
    display: flex;
    gap: 340px;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.text-small-remember{
    width: 570px;
}