.incomes-main-container {
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    align-items: flex-start;
}

.addbutton{
    background-color: #8644DB ;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    color: white;
    font-size: 15px;

}

.main-title{
    font-family: 'Lufga', sans-serif;
    font-weight: 500;
    letter-spacing: -.0625rem;
    font-size: 30px;
    color: #000000; 
} 

@font-face {
    font-family: 'Lufga';
    src: url(./Fonts/LufgaBold.ttf);
    font-weight: bold;
    font-style: bold;
}

.main-subtitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: -0.05rem;
    font-size: 16px;
    color: #333; 
    margin-left: 346px;
} 

.Minor-expense-container{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
}
.Firstrow-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 23px;
    align-items: flex-start;
 

}
.Bargraph-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.total-incomes{
    justify-self: flex-end;
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: -0.48px;
    color: #2d2d2d;
    background-color: #EFF8C0;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
}

.Secondrow-container{
    margin-top: 23px;
    margin-bottom: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.minor-expense-scroll-container{
    overflow-y: scroll;
    height: 300px;
    
}

.expensescards-container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    gap: 30px;
    border-radius: 20px;
    padding: 20px;

}
.categories-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    width: 960px;
    background-color: #ffffff;
    border-radius: 28px;
    margin-left: 10px;
}
.categories-scroll-container{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap:15px;
    height: 350px;
    scrollbar-color: #7C4DFF #ffffff;
    
}
.expensescard-container-scroll{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    height: 300px;
    scrollbar-color: #7C4DFF #ffffff;
}



.Expensescontainer-all{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Addexpenses-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.containerheader-expenses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.incomes-main-div{
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 30px;
}
.header-container {
    position: absolute;
    top: 10px;
}