

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7F5; 
}

.pig{
   position: absolute;
   top: 40;
}

.coin{
    position: absolute;
}

.wallet{
    position: absolute;
}

.coin{
    position: absolute;
}

.question{
    position: absolute;
}
/* Nuevo contenedor padre */
.flex-container {
    display: flex; /* Establece el contenedor como flex */
    align-items: center; /* Alinea elementos al centro verticalmente */
    justify-content: center; /* Alinea elementos al centro horizontalmente */
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* Contenedor de Onboarding */
.onboarding-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    width: 100%;  
    max-width: 800px; /* Mantiene un tamaño máximo */
    padding: 16px; 
    background-color: #F7F7F5;
}


/* Contenido principal */
.content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
    max-width: 400px; 
    padding: 16px;
    margin-top: 12px;
}

.content img{
    width: 250.99px;
    height: 250px;
    margin-bottom: 70px;
    margin-left: 60px;
    align-items: center;
    justify-content: center;
}

/* Subtítulo */
.subtitle {
    color: #1F1E30;
    text-align: center;
    font-size: 28px; 
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
    width: 500px;
}

/* Texto descriptivo */
.body-text {
    width: 500px;
    color: #000;
    text-align: center;
    line-height: 1.6;
    font-size: 15px;
    margin-bottom: 32px;
}

/* Botón CTA */
.cta-button {
    width: 150px;
    height: 45px;
    background-color: #8644DB;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #7A3CC8;
}

