.transaction-list{
    width: 692px;
    background-color: #fff;
    border-radius: 28px;
    height: 272px;
}

.transaction-header h2{
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.731px; /* 120.729% */
    letter-spacing: -0.72px;
}

.transaction-header .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 18px;
    border-radius: 50%;
}

.transaction-header{
    display: flex;
    margin-left: 26px;
    margin-top: 25px;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.transaction-list-scroll {
    max-height: 205px;  /* Limita la altura máxima para que aparezca la barra de desplazamiento */
    overflow-y: auto;   /* Barra de desplazamiento vertical */
    padding-right: 10px; /* Para evitar que la barra de desplazamiento se superponga al contenido */
    margin-top: 10px;    /* Añadir espacio entre la cabecera y las transacciones */
  }

  .transaction-list-scroll::-webkit-scrollbar {
    width: 12px;  /* Ancho del scrollbar */
    color: #7402c5;
  }
  
  

