@font-face {
  font-family: 'Lufga';
  src: url(./Fonts/LufgaBold.ttf);
  font-weight: bold;
  font-style: bold;
}  

.savings-goals-container {
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    align-items: flex-start;
    
}

  .content {
    flex: 1;
    padding: 20px;
  }

  
  .text-content h2{
    font-family: 'Lufga', sans-serif;
    font-weight: 500;
    letter-spacing: -.0625rem;
    font-size: 30px;
    color: #000000;
  }
  .savings-content p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: -0.05rem;
    font-size: 16px;
    color: #333;
    
  }
