.answers{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
}

.text-imput{
    width: 60%;
    height: 100px;
    border-radius: 31px;
    background-color: #FFFFFF;
    border: 1px solid #D7F177;
    padding: 0 20px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.187px;
    color: #292929;
}

.checkbox-answer {
    display: flex; /* Utiliza flexbox para alinear el checkbox y el texto */
    align-items: center; /* Centra verticalmente */
}

/* Estilos para el label del checkbox */
.checkbox-answer label {
    cursor: pointer; /* Cambia el cursor al pasar por encima del label */
}

/* Estilos para el input tipo checkbox */
.checkbox-answer input[type="checkbox"] {
    margin-right: 10px; /* Espacio entre el checkbox y el texto */
}

/* Agrega un color de fondo o un cambio de color al seleccionar */
.checkbox-answer input[type="checkbox"]:checked + span {
    color: green; /* Cambia el color del texto cuando está seleccionado */
    font-weight: bold; /* Opcional: resalta el texto */
}

@media (max-width: 480px) {
    .answers {
        flex-direction: column; /* Apila las tarjetas verticalmente en móviles */
        gap: 20px; /* Ajusta el espacio entre tarjetas */
        align-items: center;
        margin-top: 30px;
    }

    .text-imput {
        width: 80%; /* Ajusta el ancho del input */
        height: 80px; /* Ajusta la altura del input */
        padding: 0 10px; /* Ajusta el padding del input */
        font-size: 14px; /* Ajusta el tamaño del texto */
    }
}